<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuário Aluno</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aluno</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="userData; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ userData.data.nome }}</ion-card-title>
        <ion-card-subtitle>{{ userData.data.email }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Perfil:</strong> {{ userData.data.perfil }}</p>
        <p><strong>Peso:</strong> {{ userData.data.peso }} kg</p>
        <p><strong>Objetivo:</strong> {{ userData.data.objetivo }}</p>
        <p><strong>Dias de Treino:</strong> {{ userData.data.diatreino?.join(', ') || 'Nenhum dia definido' }}</p>

      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="userData">
    <ion-list>
      <ion-item>
        <ion-label>Select Day</ion-label>
        <ion-select [(ngModel)]="diaSelecionado" (ionChange)="onDayChange()">
          <ion-select-option *ngFor="let dia of userData.diatreino" [value]="dia">{{ dia }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div *ngIf="exerciciosDoDia && exerciciosDoDia.length > 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Exercícios para {{ diaSelecionado }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let exercicio of exerciciosDoDia">
              <ion-label>
                <h2>{{ exercicio.nome }}</h2>
                <p>Repetições: {{ exercicio.repeticoes }}</p>
                <p>Séries: {{ exercicio.series }}</p>
                <p>Descanso: {{ exercicio.descanso }} segundos</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="exerciciosDoDia && exerciciosDoDia.length === 0">
      <p>Não há exercícios para o dia selecionado.</p>
    </div>
  </div>

  

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p>Aguardando dados do usuário...</p>
  </ng-template>
</ion-content>
