<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuário Aluno</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aluno</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="userData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ userData.nome }}</ion-card-title>
        <ion-card-subtitle>{{ userData.email }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Perfil:</strong> {{ userData.perfil }}</p>
        <p><strong>Peso:</strong> {{ userData.peso }} kg</p>
        <p><strong>Objetivo:</strong> {{ userData.objetivo }}</p>
        <p>
          <strong>Dias de Treino:</strong> {{ userData.diatreino?.join(', ') ||
          'Nenhum dia definido' }}
        </p>
      </ion-card-content>
    </ion-card>

    <!-- <div class="segment-scroll">
      <ion-segment [(ngModel)]="diaSelecionado" (ionChange)="onDayChange()">
        <ion-segment-button *ngFor="let dia of userData.diatreino" [value]="dia">
          {{ dia }}
        </ion-segment-button>
      </ion-segment>
    </div> -->
    <ion-card *ngIf="userData.objetivo.length > 0">
      <ion-card-header>
        <ion-card-title>Selecione um dia</ion-card-title>
      </ion-card-header>
    </ion-card>
    <div class="segment-scroll">
      <ion-segment [(ngModel)]="diaSelecionado" (ionChange)="onDayChange()">
        <ion-segment-button
          *ngFor="let dia of userData.diatreino"
          [value]="dia"
        >
          {{ dia }}
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-card *ngIf="exerciciosDoDia.length > 0">
      <!-- <ion-card-header>
        <ion-card-title>Selecione um dia</ion-card-title>
      </ion-card-header> -->
      <ion-card-header>
        <ion-card-title>Exercícios para {{ diaSelecionado }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let exercicio of exerciciosDoDia">
            <ion-label>
              <h3>{{ exercicio.nome }}</h3>
              <p>
                Intervalo/Descanso: {{ (exercicio.descanso / 60) |
                number:'1.0-0' }} min
              </p>
              <p>Repetições: {{exercicio.repeticoes }}</p>
              <p>Séries: {{ exercicio.series }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="userData.objetivo.length === 0">
      <ion-card-header>
        <ion-card-title>Voce não possui exercícios cadastrados</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
