<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Definir Exercicios do Aluno</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Exercícios para {{ dia }}</h2>
  
  <ng-container *ngIf="exercicios.length > 0; else noExercises">
    <ion-list>
      <ion-item *ngFor="let exercicio of exercicios">
        <ion-label>
          <h3>{{ exercicio.nome }}</h3>
        </ion-label>
        <ion-checkbox [(ngModel)]="exercicio.selecionado"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button expand="full" (click)="atualizarExercicio()">Definir Exercícios</ion-button>
  </ng-container>
  
  <ng-template #noExercises>
    <p>Nenhum exercício disponível.</p>
  </ng-template>
</ion-content>
